[Desktop Entry]
Name=CullaX
Comment=Desktop theming from wallpaper

X-KDE-PluginInfo-Author=Phobi4n
X-KDE-PluginInfo-Email=smithmark347@gmail.com
X-KDE-PluginInfo-Name=CullaX
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-EnabledByDefault=true
